# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Environment
.env
frontend/.env

# PDF
*.aux
*.log
*.out
*.pdf

# Logging
agent_log.txt
delete/
output/
GEMINI.md
prompt.md
bakup_prompt.txt

create_resume_session/

# Firebase Configuration
firebase.json
firebase_config.py
firebase-key.json
serviceAccountKey.json
*.json
!package.json
!package-lock.json
!tsconfig.json
!vite.config.ts