langchain
langchain-groq
huggingface_hub
langchain-openai
langchain-google-genai
openrouter
langgraph
python-dotenv
texoutparse
pymupdf
rich
PyPdf2
pyperclip
fastapi
uvicorn[standard]
python-multipart
pydantic
firebase-admin
latexcodec
unidecode
regex

beautifulsoup4
requests
lxml
